<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content={csrf_token_value()}>
  <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>

  <%= live_title_tag assigns[:page_title] || "Mwcweb" , suffix: " · Modern Wine Club" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
    <link href="https://cdn.commerce7.com/v2/commerce7.css" rel="stylesheet">

</head>

<body>
  <div class="min-h-full">
    <nav>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <a href="/">
                <img class="mr-10 h-7 w-10" src="/images/mwcicon2.png" alt="MWC Logo">
              </a>
              <!--<div class="mr-20 flex-shrink-0">
              <img class="h-14 w-17" src={Routes.static_path(@conn, "/images/mwc_logo.png" )} alt="Wine Logo" />-->
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <a href="/collection/bottle-shop"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Bottle
                  Shop</a>
                <a href="/collection/wine-futures"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Wine
                  Futures</a>
                <a href="/reservation"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Reservation</a>
                <a href="/membership"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Membership</a>
                <a href="/blogposts"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Blog</a>
                <!-- <a href="/articles"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Airtable
                  Wines</a>   SCOTT airtable wines-->
                <!-- <div class="" id="wines" aria-haspopup="true">
                  <a type="button"
                    class="max-w-xs text-gray-300 flex items-center hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                    id="wine-product" aria-expanded="false" aria-haspopup="true" href="javascript:;"
                    aria-current="page">
                    Wines
                    <svg xmlns="http://www.w3.org/2000/svg" class="ml-2" width="12" height="7" viewBox="0 0 12 7">
                      <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Layout/Header" transform="translate(-724.000000, -55.000000)" fill="#9396A2"
                          fill-rule="nonzero">
                          <g id="Group" transform="translate(150.000000, 35.000000)">
                            <g id="Solutions" transform="translate(493.000000, 11.000000)">
                              <path
                                d="M81.2091965,10.2192857 L85.4949108,14.505 C85.7741965,14.7842857 86.2263394,14.7842857 86.5049108,14.505 L90.7906251,10.2192857 C91.0699108,9.94 91.0699108,9.48785714 90.7906251,9.20928571 C90.5113394,8.93071429 90.0591965,8.93 89.7806251,9.20928571 L85.9999108,12.99 L82.2191965,9.20928571 C81.9399108,8.93 81.4877679,8.93 81.2091965,9.20928571 C80.9306251,9.48857143 80.9299108,9.94071429 81.2091965,10.2192857 L81.2091965,10.2192857 Z"
                                id="arrow-down"></path>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </a>
                 <div
                    class="hidden origin-top-right absolute mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                    role="menu" aria-orientation="vertical" aria-labelledby="wine-product" tabindex="-1">
                    <a href="/collection/wines/#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
                      tabindex="-1" id="wine-product-item-0">All Wines</a>
                    <a href="/collection/red" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
                      tabindex="-1" id="wine-product-item-0">Red</a>
                    <a href="/collection/wines/#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
                      tabindex="-1" id="wine-product-item-1">White</a>
                    <a href="/collection/wines/#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
                      tabindex="-1" id="wine-product-item-2">Sparkling</a>
                  </div>  
              </div> SCOTTT WOINE LIST -->
                </div>

            </div>
          </div>
          <div class="dispaly flex">
            <div class="flex items-center lg:order-2">
              <div id="c7-cart"></div>
              <div>
                <a href="/profile/login" class="block px-2 py-2 text-sm" role="menuitem" tabindex="-1"
                  id="user-menu-item-0">
                  <div id="c7-account"></div>
                </a>
              </div>
              <button type="button" aria-label="Search this website" data-bs-toggle="modal"
                data-bs-target="#searchmodal" title="Search">
                <svg style="color: rgb(214, 211, 211)" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                  fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                    fill="white"></path>
                </svg>
              </button>
              <!--Modal-->
            </div>
            <div class="md:hidden flex items-center">
              <button class="outline-none menu-button">
                <svg class="block w-6 h-6 text-gray-500" style="margin-left: 10px" fill="none" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2" viewBox="0 00 24 24" stroke="currentColor">
                  <path d="m4 6h16M4 12h16M4 18h16">
                  </path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="md:hidden mobile-menu">
        <div class="menu-header-container px-2 pt-2 pb-3 space-y-1 sm:px-3">
          <ul>
            <li>
              <a href="/collection/bottle-shop" class="text-white block px-3 py-2 rounded-md text-base font-medium"
                aria-current="page">Bottle
                Shop</a>
            </li>
            <li>
              <a href="/collection/wine-futures" class=" text-white block px-3 py-2 rounded-md text-base font-medium"
                aria-current="page">Wine
                Futures</a>
            </li>
            <li>
              <a href="/reservation" class=" text-white block px-3 py-2 rounded-md text-base font-medium"
                aria-current="page">Reservation</a>
            </li>
            <li>
              <a href="/membership" class=" text-white block px-3 py-2 rounded-md text-base font-medium"
                aria-current="page">Membership</a>
            </li>
            <li>
              <a href="/blogposts" class=" text-white block px-3 py-2 rounded-md text-base font-medium"
                aria-current="page">Blog</a>
            </li>
            <!-- <li>
              <a href="/articles" class="text-white block px-3 py-2 rounded-md text-base font-medium"
                aria-current="page">Airtable
                Wines</a>
            </li>   SCOTT -->
            <!-- <li>
              <div id="wine_mobile" aria-haspopup="true">
                <a type="button"
                  class="flex items-center justify-between text-white px-3 py-2 rounded-md text-base font-medium"
                  id="wine-product" aria-expanded="false" aria-haspopup="true" href="javascript:;" aria-current="page">
                  Wines
                  <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"></path>
                  </svg>
                </a>
                 <ul class="hidden" aria-labelledby="mobile_drop" tabindex="-1">
                  <li>
                    <a href="/collection/wines/#" class="text-white font-medium" role="menuitem" tabindex="-1"
                      id="wine-product-item-0">All Wines</a>
                  </li>
                  <li>
                    <a href="/collection/red" class="text-white font-medium" role="menuitem" tabindex="-1"
                      id="wine-product-item-0">Red</a>
                  </li>
                  <li>
                    <a href="/collection/wines/#" class="text-white font-medium" role="menuitem" tabindex="-1"
                      id="wine-product-item-1">White</a>
                  </li>
                  <li>
                    <a href="/collection/wines/#" class="text-white font-medium" role="menuitem" tabindex="-1"
                      id="wine-product-item-1">Sparkling</a>
                  </li>
                </ul>  
              </div>
            </li> SCOTT HIDE -->
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <%= @inner_content %>
    <footer class="text-center text-white">
      <div class="grid md:grid-rows-2">
        <div class="c7-subscribe flex justify-center mt-5" data-has-name-field="true"></div>
        <h4>
          We have a newsletter to stay connected. Sign up and keep up to date on upcoming wine
          offers, wine tastings and wine dinners. You don&#8217;t want to miss out!
        </h4>
      </div>

      <div class="grid md:grid-cols-3 gird-cols-1 gap-4 flex">
        <img class="h-20 w-17 mr-10 md:ml-auto md:mb-6" src={Routes.static_path(@conn, "/images/mwc_logo.png" )}
          alt="Wine Logo" />

        <div class="text-center p-4" style="background-color: rgb(37, 37, 37);">
          © 2021 Copyright:
          <a href="#">Modern Wine Club</a>
        </div>

        <div class="flex mb-6">
          <a href="#!" type="button"
            class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f"
              class="w-2 h-full mx-auto" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
              <path fill="currentColor"
                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
              </path>
            </svg>
          </a>

          <a href="#!" type="button"
            class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="w-3 h-full mx-auto"
              role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z">
              </path>
            </svg>
          </a>

          <a href="#!" type="button"
            class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="w-3 h-full mx-auto"
              role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
              </path>
            </svg>
          </a>

          <a href="#!" type="button"
            class="rounded-full border-2 border-white text-white leading-normal uppercase hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out w-9 h-9 m-1">
            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="whatsapp" class="w-3 h-full mx-auto"
              role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path fill="currentColor"
                d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z">
              </path>
            </svg>
          </a>
        </div>
      </div>
    </footer>
</body>

</html>

<script type="text/javascript" src="https://cdn.commerce7.com/v2/commerce7.js" id="c7-javascript"
  data-tenant="modern-wine-group1"></script>