<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content={csrf_token_value()}>
  <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>


  <%= live_title_tag assigns[:page_title] || "Mwcweb" , suffix: " · Modern Wine Club" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
    <link href="https://cdn.commerce7.com/v2/commerce7.css" rel="stylesheet">

</head>

<body>
  <nav x-data="{ open: false }" style="background-color: rgb(37, 37, 37)">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <a href="/">
              <img class="mr-10 h-7 w-10" src="/images/mwcicon2.png" alt="MWC Logo">
            </a>
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <a href="/collection/bottle-shop"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Bottle
                Shop</a>
              <a href="/collection/wine-futures"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Wine
                Futures</a>
              <a href="/reservation"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Reservation</a>
              <a href="/membership"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Membership</a>
              <a href="/blogposts"
                class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Blog</a>
            </div>
          </div>
        </div>
        <div class="dispaly flex">
          <div class="flex items-center lg:order-2">
            <div id="c7-cart"></div>
            <div>
              <a href="/profile/login" class="block px-2 py-2 text-sm" role="menuitem" tabindex="-1"
                id="user-menu-item-0">
                <div id="c7-account"></div>
              </a>
            </div>
            <button type="button" aria-label="Search this website" data-bs-toggle="modal" data-bs-target="#searchmodal"
              title="Search">
              <svg style="color: rgb(214, 211, 211)" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                  fill="white"></path>
              </svg>
            </button>
            <!--Modal-->
          </div>
          <div class="md:hidden flex items-center">
            <button class="outline-none menu-button" @click="open = !open">
              <svg class="block w-6 h-6 text-gray-500 ml-2.5" fill="none" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" viewBox="0 00 24 24" stroke="currentColor">
                <path x-show="!open" d="m4 6h16M4 12h16M4 18h16">
                </path>
                <path x-show="open" fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div :class="{'flex': open, 'hidden': !open}" class="md:hidden mobile-menu">
      <div class="menu-header-container px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <ul>
          <li>
            <a href="/collection/bottle-shop" class="text-white block px-3 py-2 rounded-md text-base font-medium"
              aria-current="page">Bottle
              Shop</a>
          </li>
          <li>
            <a href="/collection/wine-futures" class=" text-white block px-3 py-2 rounded-md text-base font-medium"
              aria-current="page">Wine
              Futures</a>
          </li>
          <li>
            <a href="/reservation" class=" text-white block px-3 py-2 rounded-md text-base font-medium"
              aria-current="page">Reservation</a>
          </li>
          <li>
            <a href="/membership" class=" text-white block px-3 py-2 rounded-md text-base font-medium"
              aria-current="page">Membership</a>
          </li>
          <li>
            <a href="/blogposts" class=" text-white block px-3 py-2 rounded-md text-base font-medium"
              aria-current="page">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%= @inner_content %>
    <footer class="text-center text-white">
      <div class="grid md:grid-rows-2 py-5">
        <div class="flex justify-center md:m-auto items-center text-center mt-4 flex flex-col ">
          <h3> Stay in touch </h3>
          <p>
            Sign up and keep up to date on upcoming wine offers, wine tastings andwine dinners. You don't want to miss out!
          </p>
        </div>
        <div class="c7-subscribe flex justify-center mt-2" data-has-name-field="true"></div>
      </div>
      <div class="md:px-[120px] px-8 bg-black py-8 grid md:grid-cols-3 gap-8 justify-center">
        <div class="md:text-left font-serif text-sm text-center">
          Copyright 2022 &copy; Modern Wine Group Pte Ltd
          <br> Liquor Licenses:
          <br>Class 3: L/LL025713/2020/P
          <br>Class 4: L/LL025714/2020/P
        </div>

        <img class="h-20 w-22 m-auto" src={Routes.static_path(@conn, "/images/mwc_logo.png" )}
            alt="Wine Logo" />

        

        <div class="flex flex-col md:items-start justify-center items-center">
          <div class = "flex mb-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
            </svg>
            <a class="pl-3 text-white text-sm" href="mailto: support@modernwineclub.com" target="_blank">support@modernwineclub.com</a>
          </div>

          <div class = "flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
            </svg>
            <a class="pl-3 text-sm text-white" href="#">+6581389597</a>
          </div>
        </div>
      </div>
    </footer>
</body>

</html>

<script type="text/javascript" src="https://cdn.commerce7.com/v2/commerce7.js" id="c7-javascript"
  data-tenant="modern-wine-group1"></script>