<section class="phx-hero">
    <!--<h1>
      <%= gettext "Welcome to %{name}!" , name: "Wine Collections" %>
    </h1>-->
  </section>
  <section class="phx-hero">
    <!--<h1>C7 Collection</h1>-->
    <div id="c7-content"></div>
  </section>

  <section class="phx-hero">
    <!-- <h1>Commerce 7 Personalization</h1> -->
    <div class="c7-personalization" data-block-code="homepage"></div>
  </section>
  <section><h6>bottle shop page</h6></section>