<section class="phx-hero">
  <!-- <h1>Commerce 7 Personalization</h1> -->
  <div class="c7-personalization" data-block-code="bottle-shop-recommendations"></div>
</section>

<section class="phx-hero">
  <div id="c7-content"></div>
</section>


<section class="phx-hero">
  <div class="c7-personalization" data-block-code="bottle-shop-recommendations"></div>
</section>

<section>
  <h6>bottle shop page</h6>
</section>