<h2>Bottle Shop</h2>
<p>Our bottle shop wines are available for immediate delivery in Singapore.  These wines are personally curated and we believe of exceptional quality.</p>
<p>We use local courier services for to arrange delivery to your preferred location</p>


<section class="phx-hero">
  <div id="c7-content"></div>
</section>


<section class="phx-hero">
  <div class="c7-personalization" data-block-code="bottle-shop-recommendations"></div>
</section>