<div>

  <h1 class="title--decorated">Membership</h1>

  <div class="grid__item grid__item large-up--two-thirds large-up--push-one-sixth">
    <div class="rte page__team__content">
      <p><img src={Routes.static_path(@conn, "/images/membership.png" )} alt="membership" />
      </p>
      <p>Membership is at the heart of Modern Wine Club and brings many benefits:</p>
      <p><strong>First Allocation of Wines</strong></p>
      <p>Quality backdoor deals with boutique wineries are in limited supply and our members get first allocations when
        we
        source new wines. Many of the best offers we source never make it onto our web site either because our members
        acquire all available bottles from our mailing list or because the suppliers ask us to keep the offers secret.
        As
        such, this web site is only the tip of the iceberg of what happens in the club.</p>
      <p><strong>Member Pricing for Wines</strong></p>
      <p>Our members benefit from the lower member tier pricing compared to non-members. Members also have the option to
        make wire transfer payments for an additional 3% price reduction from the prices listed on the web.</p>
      <p><strong>Invitation to Special Events</strong></p>
      <p>Members benefit from invitations to special events such as wine tastings and wine dinners. </p>
      <p><strong></strong><strong>Membership Fees</strong></p>
      <p>The membership fee is currently USD 300 per year.</p>
      <p><strong>Singapore Membership Application</strong></p>
      <p>To apply for membership, please complete the Typeform below:</p>
      <p> </p>
      <div class="typeform-widget" data-url="https://form.typeform.com/to/kwtM5EH4?typeform-medium=embed-snippet"
        style="width: 100%; height: 600px;"></div>
      <script>// <![CDATA[
        (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })()
  // ]]></script>
      <p><strong>Expression of Interest for Other Cities</strong></p>
      <p>If you would like Modern Wine Club to come to your city, please register your interest <a
          href="https://modern-wine-group.typeform.com/to/cjQkW2tN" target="_blank" rel="noopener noreferrer">here</a>.
      </p>
      <p> </p>
      <ul></ul>
      <p> </p>
    </div>
  </div>

</div>