<div class="c7t-banner">

  <div class="c7t-template-width c7t-template-width--content-centered">
    <div class="c7t-banner__content heading">
      <h1>Memberships</h1>
    </div>
    <img style="margin-top: 20px" src={Routes.static_path(@conn, "/images/membership.png" )} alt="tasting" />
  </div>
  <!--c7t-template-width-->
  <a href="#" class="c7t-banner__next-section" aria-label="Scroll down to next section"><span class="bounce"></span></a>
</div>
<!--.c7t-banner-->

<div class="c7t-text-block">
  <div class="c7t-template-width c7t-content">
    <blockquote>
      <p>Thank you for considering a Modern Wine Club Membership</p>
    </blockquote>
    <p><cite> &#8211; Modern Wine Club</cite></p>
    <p style="text-align: center;">With each type of club you will enjoy a regular shipment of our wine for your cellar
      and enjoyment.<br />
      You will also enjoy complimentary tastings and VIP treatment at our winery.<br />
      Please call in advance to book your engagement.</p>

  </div>
  <!--content-->
</div>
<!--c7t-text-block-->

<div class="c7t-text-block c7t-text-block--2col">
  <div class="c7t-template-width c7t-content">
    <div>
      <p><img loading="lazy" class="alignnone wp-image-510 size-full" sizes="(max-width: 640px) 100vw, 640px" />
        <img src={Routes.static_path(@conn, "/images/premium.jpg" )} alt="tasting" />
      </p>
      <h4>Premium Club</h4>
      <p><em>You will receive 48 bottles per year, split into four 12 bottle quarterly shipments.</em></p>
      <p>Two mixed cases of new releases, award winners, and favourites received four times per year. For wine
        enthusiasts, and corporate clients who entertain in style.</p>
      <div class="c7-club-join-button" data-club-slug="slug"></div>
    </div>
    <div>
      <p><img loading="lazy" class="alignnone wp-image-511 size-full" sizes="(max-width: 640px) 100vw, 640px" />
        <img src={Routes.static_path(@conn, "/images/choice.jpg" )} alt="tasting" />
      </p>
      <h4>Choice Club</h4>
      <p><em>You will receive 48 bottles per year, split into four 12 bottle quarterly shipments.</em></p>
      <p>Two mixed cases of new releases, award winners, and favourites received four times per year. For wine
        enthusiasts, and corporate clients who entertain in style.</p>
      <div class="club-selector-wrapper c7-form"><span class="c7-selectboxWrap"><select class="club-selector">
            <option value="#">Reds Only</option>
            <option value="#">Whites Only</option>
            <option value="#"> Mixed</option>
          </select></span><a href="/checkout/cart" class="c7-button c7-btn c7-btn--primary"
          title="Join our club now">Join Now</a></div>
    </div>
  </div>
</div>


<div class="
    c7t-text-block 
    c7t-text-block--reverse c7t-text-block--2col  subscribe-columns">
  <div class="c7t-template-width c7t-content">
    <div>
      <p>&nbsp;</p>
      <h3>Stay in touch</h3>
      <p>We have a quarterly newsletter to help everyone stay connected. Sign up and keep up to date on upcoming wine
        releases and winery events. You don&#8217;t want to miss out!</p>
    </div>
    <div>
      <div class="c7t-newsletter__form">
        <div class="c7-subscribe" data-has-name-field="true"></div>
      </div>
    </div>
  </div>
</div>