<div class="c7t-banner">

  <div class="c7t-template-width c7t-template-width--content-centered">
    <div class="c7t-banner__content heading">
      <h1>Memberships</h1>
    </div>
    <img style="margin-top: 20px" src={Routes.static_path(@conn, "/images/membership.png" )} alt="tasting" />
  </div>
  <!--c7t-template-width-->
  <a href="#" class="c7t-banner__next-section" aria-label="Scroll down to next section"><span class="bounce"></span></a>
</div>
<!--.c7t-banner-->

<div class="c7t-text-block">
  <div class="c7t-template-width c7t-content">

    <p>Membership is at the heart of Modern Wine Club and brings many benefits:</p>

    <ul>
      <li><b>First Allocation of Wines </b><small>Quality backdoor deals with boutique wineries are in limited supply
          and our members get first allocations when we source new wines. Many of the best offers we source never make
          it onto our web site either because our members acquire all available bottles from our mailing list or because
          the suppliers ask us to keep the offers secret. As such, this web site is only the tip of the iceberg of what
          happens in the club.</small></li>

      <li><b>Member Pricing for Wines</b><small>Our members benefit from the lower member tier pricing compared to
          non-members. Members also have the option to make wire transfer payments for an additional 3% price reduction
          from the prices listed on the web.</small></li>

      <li><b>Invitation to Special Events</b><small>Members benefit from invitations to special events such as wine
          tastings and wine dinners. </small></li>


      <li><b>Membership Fees</b><small>The membership fee is currently USD 300 per year</small></li>

    </ul>

  </div>

</div>


<div class="c7t-text-block c7t-text-block--2col">
  <div class="c7t-template-width c7t-content">
    <div>
      <p><img loading="lazy" class="alignnone wp-image-510 size-full" sizes="(max-width: 640px) 100vw, 640px" />
        <img src={Routes.static_path(@conn, "/images/premium.jpg" )} alt="tasting" />
      </p>
      <h4>Modern Wine Club</h4>
      <p><em>Receive discounts on almost all wine bottles and the benefits listed above </em></p>
      <div class="c7-club-join-button" data-club-slug="modern-wine-club"></div>
    </div>

  </div>
</div>