<div class="c7t-text-block">
  <div class="c7t-template-width c7t-content 
                                     ">
    <h1 style="text-align: center;">Book a Tour or Tasting Reservation</h1>
    <p style="text-align: center;">A visit to this winery is a unique experience, as it provides a rare insight into the
      engine room of Spectra from a winemaking perspective.</p>

  </div>
</div>

<div class="c7t-text-block">
  <div class="c7t-template-width c7t-content 
                                     ">
    <hr />

  </div>
</div>
<div class="c7t-half-text">
  <div class="c7t-half-text__image">
    <img src={Routes.static_path(@conn, "/images/tasting.jpg" )} alt="tasting" />
  </div>
  <div class="c7t-half-text__content">
    <h2>Tasting</h2>
    <div class="c7-reservation-availability" data-reservation-type-slug="tasting"></div>
  </div>
</div>

<div class="c7t-text-block">
  <div class="c7t-template-width c7t-content 
                                     ">
    <hr />

  </div>
</div>
<div class="c7t-half-text  ">
  <div class="c7t-half-text__image">
    <img src={Routes.static_path(@conn, "/images/tour.jpg" )} alt="tour" />
  </div>
  <!--c7t-half-text__image-->
  <div class="c7t-half-text__content">
    <h2>Dinner</h2>
    <div class="c7-reservation-availability" data-reservation-type-slug="dinner"></div>
  </div>
  <!--c7t-half-text__content-->
</div>

<div class="
    c7t-text-block 
          " id="text-block-7496978962">
  <div class="c7t-template-width c7t-content 
                                     ">
    <hr />
    <p style="text-align: center;">For large parties (10 or more) or special requests, please contact us directly at
      +6581389597 or SUPPORT@MODERNWINECLUB.COM.</p>

  </div>
</div>