
<h2>Wine Futures</h2>
<p>The least expensive way to buy quality wine is with our wine future program.  You purchase the wine and we pack and ship directly from the producers.  
  We ship in a climate controlled reefer and it takes a little while for your puurchase to arrive but it is worth it.  Recently due to our sourcing expertise and low margins
   we found we can deliver wine in Singapore to your door for less than retail prices in USA.</p>
<p>Another benefit of our club is that  these wines are generally not available locally as we have exclusive access to vineyards.  Currently our wine futures program is empty but this will be updated shortly with tasting results from our JUne 2022 reefer.</p>

<section class="phx-hero">
  <div id="c7-content"></div>
</section>

<!-- <section class="phx-hero">
  <div class="c7-personalization" data-block-code="homepage"></div>
</section>  -->

<!-- 
  <section>
  <h6>wine futures page</h6>
</section>
-->