<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Wine Collections" %></h1>
  <p>Wine collections</p>
</section>
<section class="phx-hero">
  <h1>Commerce 7 Div</h1>
  <div id="c7-account"></div>
</section>

<section class="phx-hero">
  <h1>C7 Collection</h1>
  <div id="c7-content"></div>
</section>

