/* SCOTT */
/* Import tailwind - with postcss-import installed */
/* WAS @import "tailwindcss/base"; 
@import "tailwindcss/components";
@import "tailwindcss/utilities";*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom styles - put after base imports! */
@import "./default-styles.css";
/* import custom components */
/* @import "./components/buttonscott.css"; MPT WORKING  DIRECTORY ISSUE? */
/*  SCOTT TODO @import "./components/buttons.css"; */
/* default phoenix styles - eventually remove */

@import "./buttonscott2.css";



/* END SCOTT TAILWIND */
/* This file is for your main application CSS */
@import "./phoenix.css";

@layer components {
  .btn-scott {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg;
  }
}
/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

footer {
  background-color: rgb(37, 37, 37);
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* ROMAN TEST FONTS added by scott */

h1, .h1 {
  font-size: 36px;
  font-family: "Inter", sans-serif;
  line-height: 1.5; 
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.3px; 
  }
  h2, .h2, .pagination .page {
    font-size: 28px;
    font-family: Nunito;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.3px; 
    line-height: 1.5; 
  }
  h3, .h3, h5, .h5, h6, .h6 {
    font-family: Nunito;
    font-weight: 400;
    font-style: normal;
  }

  h3 {
    line-height: 1.2;
    margin-bottom: 0.5em;
    font-size: 2rem;
  }
  
  h4, .h4 {
    font-size: 1.65rem;
    line-height: 1.2;
    margin-bottom: 0.2em;
  }

/* 2022-07-17 22:07:00 */
  .account-form {
    /* position: absolute;
    transform: translate(-50%, 50%);
    top: 0;
    left: 50%; */
    width: 100vw;
  }

  .account-form>img {
    width: 15%;
    margin: 40px auto;
  }

  .account-form h1 {
    font-size: 28px!important;
  }

  @media screen and (max-width: 768px) {
    .account-form>img {
      width: 35%;
      margin: 40px auto;
    }
  }
  
  /*cart icon*/ 
  .c7-link {
    display: flex;
  }

  .c7-link svg {
    stroke: #9ca3af !important;
  }

  a:hover, a:focus, a:active {
    text-decoration: unset !important;
  }

  .c7-btn--primary, .c7-btn--alt {
    background-color: #444 !important;
  }

  .c7-btn--alt {
    color: #FFFFFF !important;
  }

/*login component*/
.c7-user-nav__account__login, .c7-user-nav__account__name {
  color: #9ca3af !important;
}
.c7-user-nav__account__name svg {
  stroke: #9ca3af !important;
}

/*Blog component*/
.blog-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog-card {
  background-color: rgb(252, 252, 252);
  border-radius: 4px;
  width: 350px;
  height: 450px;
  box-shadow: 0 2px 6px #0000000f, 0 1px 3px #0000000f ;
  margin: 10px 5px;
  padding: 5px 0px 10px 0px;
  color: #1f1f1f !important;
}

.blog-card img {
  margin: auto;
  width: 100%;
  border-radius: 4px;
  height: 300px;
}

.blog-card header>p {
  margin: 15px 0px 10px !important;
  font-size: 16px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.blog-description {
  font-family: inherit !important;
  font-size: 14px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
/*RESERVATION*/
.c7t-half-text{
  display: flex;
  position: relative;
  max-width: 60rem;
  margin: 0 auto;
}

.c7t-text-block {
  position: relative;
  padding: 2.5rem 0;
}

.c7t-half-text__content {
  padding: 1rem;
  position: relative;
}
/*MEMBERSHIP PAGE*/
blockquote p {
  font-size: 1.8rem;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
}

blockquote+cite, cite {
  margin-top: -1.5rem
}

cite {
    text-transform: uppercase;
    letter-spacing: .03em;
    font-size: 1rem;
    display: block;
    text-align: center;
    margin: 0 auto 1.5rem;
    font-style: normal;
}
.c7t-text-block--2col .c7t-template-width {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c7t-content {
    margin: 0 auto;
    max-width: 60rem;
    padding: 0 1rem;
    position: relative;
}

.c7t-content>div {
  width: 49%;
}

.c7t-template-width {
    margin: 0 auto;
    max-width: 60rem;
    padding: 0 1rem;
    position: relative;
}

.club-selector-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.c7t-text-block--reverse {
    background-color: #222;
    color: #eee;
    padding: 3.5rem 0 !important;
}

.heading {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 40%;
}

.heading > h1 {
  text-shadow: 0 2px 1px rgb(0 0 0 / 50%), 0 4px 2px rgb(0 0 0 / 40%), 0 8px 4px rgb(0 0 0 / 40%), 0 16px 8px rgb(0 0 0 / 35%), 0 32px 16px rgb(0 0 0 / 30%);
  color: white;
  font-size: 42px;
}

em{
  font-style: italic;
}

/*META-BADGE*/

.c7-badge {
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  text-shadow: 0 1px 1px rgb(0 0 0 / 50%);
  pointer-events: none;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: -0.02rem;
  font-size: 10px;
  top: -30px; 
}

.c7-badge--mwc-average-score {
  background: rgb(37, 37, 37);
  height: 50px;
  max-width: 50px;
  width: 100%;
}

.c7-product__photo {
  flex: 0 0 350px;
}



